/*FRONTEND CSS*/

.utv-breadcrumb{
	margin-bottom: 10px;
}

.utv-breadcrumb .utv-albumcrumb{
	font-weight: bold;
}

.utv-breadcrumb a{
	font-size: 14px!important;
	text-decoration: none!important;
	font-weight: bold;
}

.utv-breadcrumb span{
	font-size: 14px;
}

.utv-container{
	width: auto; 
	margin: 0 auto;
	visibility: hidden;
}

.utv-inner-wrapper{
	text-align: left; 
	display: inline-block;
}

.utv-container .utv-align-center{
	text-align: center;
}

.utv-container .utv-align-right{
	text-align: right;
}

.utv-container .utv-album img{
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
	background: none!important;
	transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	padding: 0;
	margin: 0;
	border: 0;
}

.utv-container .utv-thumb{
	display: inline-block; 
	margin: 10px 10px;
	vertical-align: top;
	padding: 0;
}

.utv-container .utv-thumb a{
	background-color: #000;
	display: block;
}

.utv-container .utv-thumb a.utv-square{
	position: relative;
}

.utv-container .utv-thumb a.utv-rect{
	position: relative;
}

.utv-container .utv-thumb img:hover{
	opacity: .70;
	-moz-opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.utv-container .utv-thumb .utv-play-btn{
	position: absolute; 
	top: 50%; 
	left: 50%;
	border: 0!important;
	padding: 0!important;
	opacity: 0;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	display: block;
	width: 60px;
	height: 60px;
	width: 48px;
	height: 48px;
	margin: -30px 0 0 -30px;
	margin: -24px 0 0 -24px;
	background: transparent url('../i/play_icon.png') no-repeat 0 0;
	transition: opacity .1s linear;
	-webkit-transition: opacity .1s linear;
}

.utv-container .utv-thumb:hover .utv-play-btn{
	opacity: 0.6;
}

.utv-container .utv-thumb span{
	font-size: 13px;
	display: block;
	line-height: 1.6em;
	margin-top: 4px;
	margin-left: 5px;
}

.utv-roundborder a{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.utv-mfp-bottom-bar{
	margin-top: 10px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto; 
	font-size: 16px;
	font-weight: normal;
}

.utv-mfp-iframe-scaler button.mfp-close{
	background-color: transparent!important;
	background-image: none!important;
	outline: none!important;
}

.utv-mfp-iframe-scaler button.mfp-close:hover{
	background-color: transparent!important;
	background-image: none!important;
	border-radius: 0!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	outline: none!important;
}

.utv-mfp-iframe-scaler button.mfp-close:focus, .ut-mft-iframe-scaler button.mfp-close{
	outline: none!important;
}